{
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "arrowParens": "always",
  "printWidth": 90,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "jsxBracketSameLine": true
      }
    }
  ]
}
